@charset "utf-8";

$main-color: #01181f;

body {
    margin: 0;
    padding: 0;
}

.sidebar div,
.sidebar ul,
.sidebar li,
.sidebar p,
.sidebar a,
.sidebar h1,
.sidebar h2,
.sidebar h3,
.sidebar h4,
.sidebar h5,
.sidebar h6,
.sidebar span,
.sidebar button,
.sidebar input,
.sidebar textarea,
.operations div,
.operations ul,
.operations li,
.operations p,
.operations a,
.operations h1,
.operations h2,
.operations h3,
.operations h4,
.operations h5,
.operations h6,
.operations span,
.operations button,
.operations input,
.operations textarea {
    color: $main-color;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    font-weight: 400;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: #cccccc;
}

.main {
    margin: 0 0 0 auto;
    width: calc(100% - 300px);
}

.row {
    position: relative;
}

.content {
    margin: 0 auto;
    width: 600px;
}

.option-button {
    width: 50%;
    height: 50px;
    cursor: pointer;
    position: relative;
    border: 1px solid #cccccc !important;
    background-color: lemonchiffon;
    span {
        top: 50px;
        z-index: 1;
        display: none;
        position: absolute;
        width: 300px;
    }
    img {
        width: 100%;
    }
    &:hover {
        color: #ffffff;
        background-color: $main-color;
        span {
            display: block;
        }
    }
}

.ui-state-default {
    cursor: pointer;
    min-height: 50px;
    .ui-icon {
        display: none;
    }
}

#sortable {
    width: 100% !important;
}

.configurator-container {
    top: 0;
    right: -100px;
    position: absolute;
    display: flex;
    align-items: center;
    .configurator-remove,
    .configurator-duplicate {
        display: flex;
        justify-content: flex-end;
        padding: 5px;
    }
    .copy,
    .remove {
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: 85%;
        background-position: center;
        background-color: transparent;
    }
    .remove {
        background-image: url(./core/icons/remove.png);
    }
    .copy {
        background-image: url(./core/icons/copy.png);
    }
}

.configurator {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: lemonchiffon;
    .config {
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: transparent;
    }
    .config {
        background-image: url(./core/icons/gear.png);
    }
    .options {
        width: 250px;
        min-height: 50px;
        display: none;
        margin-top: 10px;
        border-radius: 4px;
        background-color: lemonchiffon;
        border: 1px solid #cccccc;
    }
    input {
        width: 100%;
        padding: 0;
    }
    &:hover {
        z-index: 1;
        .options {
            display: block;
        }
    }
}

.configs {
    display: flex;
    align-items: center;
    padding: 5px;
    border: none;
    outline: none;
    font-weight: 400;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    &__name {
        width: 50%;
        font-size: 12px;
    }
    &__field {
        width: 50%;
        border: 1px solid #cccccc;
    }
}

.operations {
    top: 20px;
    right: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    button {
        width: 100px;
        padding: 10px;
        cursor: pointer;
        min-height: 50px;
        margin-bottom: 2px;
    }
    #file-export {
        background-color: lemonchiffon;
    }
    #console-export {
        background-color: lawngreen;
    }
    #clear-cookie {
        background-color: lemonchiffon;
    }
    #save-template {
        color: #ffffff;
        background-color: red;
    }
}

tr {
    display: flex;
    td:only-child {
        width: 100%;
    }
}