body {
  margin: 0;
  padding: 0;
}

.sidebar div,
.sidebar ul,
.sidebar li,
.sidebar p,
.sidebar a,
.sidebar h1,
.sidebar h2,
.sidebar h3,
.sidebar h4,
.sidebar h5,
.sidebar h6,
.sidebar span,
.sidebar button,
.sidebar input,
.sidebar textarea,
.operations div,
.operations ul,
.operations li,
.operations p,
.operations a,
.operations h1,
.operations h2,
.operations h3,
.operations h4,
.operations h5,
.operations h6,
.operations span,
.operations button,
.operations input,
.operations textarea {
  color: #01181f;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 300px;
  height: 100vh;
  position: fixed;
  background-color: #cccccc;
}

.main {
  margin: 0 0 0 auto;
  width: calc(100% - 300px);
}

.row {
  position: relative;
}

.content {
  margin: 0 auto;
  width: 600px;
}

.option-button {
  width: 50%;
  height: 50px;
  cursor: pointer;
  position: relative;
  border: 1px solid #cccccc !important;
  background-color: lemonchiffon;
}

.option-button span {
  top: 50px;
  z-index: 1;
  display: none;
  position: absolute;
  width: 300px;
}

.option-button img {
  width: 100%;
}

.option-button:hover {
  color: #ffffff;
  background-color: #01181f;
}

.option-button:hover span {
  display: block;
}

.ui-state-default {
  cursor: pointer;
  min-height: 50px;
}

.ui-state-default .ui-icon {
  display: none;
}

#sortable {
  width: 100% !important;
}

.configurator-container {
  top: 0;
  right: -100px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.configurator-container .configurator-remove,
.configurator-container .configurator-duplicate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px;
}

.configurator-container .copy,
.configurator-container .remove {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
  background-color: transparent;
}

.configurator-container .remove {
  background-image: url(./core/icons/remove.png);
}

.configurator-container .copy {
  background-image: url(./core/icons/copy.png);
}

.configurator {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: lemonchiffon;
}

.configurator .config {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

.configurator .config {
  background-image: url(./core/icons/gear.png);
}

.configurator .options {
  width: 250px;
  min-height: 50px;
  display: none;
  margin-top: 10px;
  border-radius: 4px;
  background-color: lemonchiffon;
  border: 1px solid #cccccc;
}

.configurator input {
  width: 100%;
  padding: 0;
}

.configurator:hover {
  z-index: 1;
}

.configurator:hover .options {
  display: block;
}

.configs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border: none;
  outline: none;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.configs__name {
  width: 50%;
  font-size: 12px;
}

.configs__field {
  width: 50%;
  border: 1px solid #cccccc;
}

.operations {
  top: 20px;
  right: 20px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.operations button {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  min-height: 50px;
  margin-bottom: 2px;
}

.operations #file-export {
  background-color: lemonchiffon;
}

.operations #console-export {
  background-color: lawngreen;
}

.operations #clear-cookie {
  background-color: lemonchiffon;
}

.operations #save-template {
  color: #ffffff;
  background-color: red;
}

tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

tr td:only-child {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */